{
  "log": {
    "_recordingName": "build-device-group-device-relationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "cfc538a479357f650c7d4c93f38e9fd3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1628,
            "text": "{\"id\":\"64b38341-bc15-49a2-aae7-e0c7b8ddb915\",\"url\":\"https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/\",\"name\":\"Esper Enterprise\",\"display_name\":\"Esper\",\"short_code\":\"EPR-NPN\",\"mdm_service\":2,\"details\":{\"id\":\"59d6e98a-39b3-4823-be44-9aa90b6efede\",\"registered_name\":\"Esper Enterprise\",\"registered_address\":\"NA\",\"location\":\"NA\",\"zipcode\":\"NA\",\"contact_person\":\"Esper\",\"contact_number\":\"NA\",\"contact_email\":\"paul.ilaga@creativice.com\",\"created_on\":\"2022-05-12T04:07:37.472292Z\",\"updated_on\":\"2022-05-12T07:45:18.123145Z\",\"is_active\":true},\"created_on\":\"2022-05-12T04:07:37.480192Z\",\"updated_on\":\"2022-05-16T06:52:50.775344Z\",\"is_active\":true,\"emm\":{\"id\":1,\"google_enterprise_id\":\"LC01q8v8oi\",\"name\":\"\",\"state\":4,\"callback_url\":\"https://hdvpl.esper.cloud/enrollcomplete\",\"signup_url\":\"[REDACTED]\",\"completion_token\":\"[REDACTED]\",\"enterprise_token\":\"[REDACTED]\",\"is_active\":true,\"created_on\":\"2022-05-16T06:42:33.219568Z\",\"updated_on\":\"2022-05-16T06:52:45.382709Z\",\"enterprise\":\"64b38341-bc15-49a2-aae7-e0c7b8ddb915\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, PUT, PATCH"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 765,
      },
      {
        "_id": "249f6b5a518b65ac74d02110c9dbcdcc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/devicegroup/?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 592,
            "text": "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"id\":\"9f899243-efe8-4e17-b9e0-4ed714006443\",\"name\":\"Test group\",\"description\":\"\",\"thumbnail\":null,\"created_on\":\"2022-05-16T05:58:18.636359Z\",\"updated_on\":\"2022-05-16T05:58:18.636379Z\",\"enterprise\":\"https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/\",\"device_count\":1,\"path\":\"Test group\",\"children_count\":0,\"blueprint\":\"20707660-0490-4c8c-a67e-07c0186062aa\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 766,
      },
      {
        "_id": "249f6b5a518b65ac74d02110c9dbcdcc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/device/?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2680,
            "text": "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"id\":\"a0170846-ef49-4b83-8de6-afd3c3e84c12\",\"url\":\"https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/device/a0170846-ef49-4b83-8de6-afd3c3e84c12/\",\"device_name\":\"EPR-NPN-AAAAA\",\"policy_name\":null,\"status\":1,\"current_command\":null,\"memoryInfo\":{\"totalRam\":\"7402\",\"totalInternalStorage\":\"137438\",\"internalStorageBinaryPrefix\":false},\"displays\":{\"name\":\"Built-in Screen\",\"width\":1080,\"height\":2280,\"density\":2.625,\"displayId\":0,\"refreshRate\":60.000004},\"softwareInfo\":{\"supportedAbi\":\"arm64-v8a\",\"androidVersion\":\"10\",\"androidBuildTime\":1574777465000,\"bootloaderVersion\":\"G975FXXU3BSKO\",\"androidBuildNumber\":\"QP1A.190711.020.G975FXXU3BSKO\",\"securityPatchLevel\":\"2019-12-01\",\"deviceKernelVersion\":\"4.14.113-17369399\"},\"hardwareInfo\":{\"brand\":\"samsung\",\"model\":\"SM-G975F\",\"hardware\":\"exynos9820\",\"manufacturer\":\"samsung\",\"serialNumber\":\"R58M93CJWZP\",\"deviceBasebandVersion\":\"G975FXXU3BSKL,G975FXXU3BSKL\"},\"networkInfo\":{\"imei1\":\"358815104659304\",\"imei2\":\"358816104659302\",\"wifiMacAddress\":\"8c:b8:4a:50:73:ba\",\"ethernetMacAddress\":null},\"audioConstraints\":null,\"dpcInfo\":null,\"template_name\":null,\"mqtt_id\":\"/64b38341-bc15-49a2-aae7-e0c7b8ddb915/a0170846-ef49-4b83-8de6-afd3c3e84c12/\",\"iot_mqtt_base_topic\":\"iot/SharedNcal/hdvpl/64b38341-bc15-49a2-aae7-e0c7b8ddb915/a0170846-ef49-4b83-8de6-afd3c3e84c12/\",\"state\":1,\"suid\":\"OrCEcM5PlDS3yy1zg4y5cSA7YnrNs4kngVMIrnpdSq0\",\"fcm_id\":\"di4Xs5hqQUSqkPbwdvUcEn:APA91bEU_ng3hXenVz2eLt5bMgRzj1gn2vMDgVlPnq5uGYNhuMX6ut0Y4rmfiUp3hmszYjTadDUWE-FjQmFXqeJZ3FG3-xYtIZp5vUUeSUecwIDoyvPu1hzUsSuW3PCASmtvcNx00OpK\",\"api_level\":29,\"created_on\":\"2022-05-17T00:28:50.368073Z\",\"updated_on\":\"2022-05-17T00:29:51.770289Z\",\"is_active\":true,\"provisioned_on\":\"2022-05-17T00:29:51.767338Z\",\"is_gms\":true,\"esper_client\":\"v7.8.5502\",\"enterprise\":\"https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/\",\"policy\":null,\"user\":\"https://hdvpl-api.esper.cloud/api/user/8/\",\"groups\":[\"https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/devicegroup/9f899243-efe8-4e17-b9e0-4ed714006443/\"],\"tags\":null,\"use_mqtt\":false,\"use_iot_mqtt\":true,\"alias_name\":null,\"device_type\":\"real\",\"current_app_mode\":0,\"lockdown_state\":1,\"timezone_string\":\"Asia/Manila\",\"wifi_access_points\":[{\"id\":\"cb542451-5f5a-439c-b45d-facace8dfa27\",\"wifi_ssid\":\"First Floor\",\"wifi_security_type\":\"WPA2\",\"wifi_phase2_auth\":\"NONE\",\"config_style\":\"MANUAL\",\"wifi_eap_method\":\"NONE\",\"identity\":\"\",\"anonymous_identity\":\"\",\"domain\":\"\",\"hidden\":false,\"wifi_password\":null,\"status_id\":null}],\"emm_device\":null,\"initialtemplate\":\"https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/device/a0170846-ef49-4b83-8de6-afd3c3e84c12/initialtemplate/\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1163,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
