{
  "log": {
    "_recordingName": "fetch-device-groups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "cfc538a479357f650c7d4c93f38e9fd3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1628,
            "text": "{\"id\":\"64b38341-bc15-49a2-aae7-e0c7b8ddb915\",\"url\":\"https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/\",\"name\":\"Esper Enterprise\",\"display_name\":\"Esper\",\"short_code\":\"EPR-NPN\",\"mdm_service\":2,\"details\":{\"id\":\"59d6e98a-39b3-4823-be44-9aa90b6efede\",\"registered_name\":\"Esper Enterprise\",\"registered_address\":\"NA\",\"location\":\"NA\",\"zipcode\":\"NA\",\"contact_person\":\"Esper\",\"contact_number\":\"NA\",\"contact_email\":\"paul.ilaga@creativice.com\",\"created_on\":\"2022-05-12T04:07:37.472292Z\",\"updated_on\":\"2022-05-12T07:45:18.123145Z\",\"is_active\":true},\"created_on\":\"2022-05-12T04:07:37.480192Z\",\"updated_on\":\"2022-05-16T06:52:50.775344Z\",\"is_active\":true,\"emm\":{\"id\":1,\"google_enterprise_id\":\"LC01q8v8oi\",\"name\":\"\",\"state\":4,\"callback_url\":\"https://hdvpl.esper.cloud/enrollcomplete\",\"signup_url\":\"[REDACTED]\",\"completion_token\":\"[REDACTED]\",\"enterprise_token\":\"[REDACTED]\",\"is_active\":true,\"created_on\":\"2022-05-16T06:42:33.219568Z\",\"updated_on\":\"2022-05-16T06:52:45.382709Z\",\"enterprise\":\"64b38341-bc15-49a2-aae7-e0c7b8ddb915\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, PUT, PATCH"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 799,
      },
      {
        "_id": "249f6b5a518b65ac74d02110c9dbcdcc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/devicegroup/?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 592,
            "text": "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"id\":\"9f899243-efe8-4e17-b9e0-4ed714006443\",\"name\":\"Test group\",\"description\":\"\",\"thumbnail\":null,\"created_on\":\"2022-05-16T05:58:18.636359Z\",\"updated_on\":\"2022-05-16T05:58:18.636379Z\",\"enterprise\":\"https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/\",\"device_count\":1,\"path\":\"Test group\",\"children_count\":0,\"blueprint\":\"20707660-0490-4c8c-a67e-07c0186062aa\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 885,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
