{
  "log": {
    "_recordingName": "fetch-applications",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "cfc538a479357f650c7d4c93f38e9fd3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1628,
            "text": "{\"id\":\"64b38341-bc15-49a2-aae7-e0c7b8ddb915\",\"url\":\"https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/\",\"name\":\"Esper Enterprise\",\"display_name\":\"Esper\",\"short_code\":\"EPR-NPN\",\"mdm_service\":2,\"details\":{\"id\":\"59d6e98a-39b3-4823-be44-9aa90b6efede\",\"registered_name\":\"Esper Enterprise\",\"registered_address\":\"NA\",\"location\":\"NA\",\"zipcode\":\"NA\",\"contact_person\":\"Esper\",\"contact_number\":\"NA\",\"contact_email\":\"paul.ilaga@creativice.com\",\"created_on\":\"2022-05-12T04:07:37.472292Z\",\"updated_on\":\"2022-05-12T07:45:18.123145Z\",\"is_active\":true},\"created_on\":\"2022-05-12T04:07:37.480192Z\",\"updated_on\":\"2022-05-16T06:52:50.775344Z\",\"is_active\":true,\"emm\":{\"id\":1,\"google_enterprise_id\":\"LC01q8v8oi\",\"name\":\"\",\"state\":4,\"callback_url\":\"https://hdvpl.esper.cloud/enrollcomplete\",\"signup_url\":\"[REDACTED]\",\"completion_token\":\"[REDACTED]\",\"enterprise_token\":\"[REDACTED]\",\"is_active\":true,\"created_on\":\"2022-05-16T06:42:33.219568Z\",\"updated_on\":\"2022-05-16T06:52:45.382709Z\",\"enterprise\":\"64b38341-bc15-49a2-aae7-e0c7b8ddb915\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, PUT, PATCH"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 834,
      },
      {
        "_id": "249f6b5a518b65ac74d02110c9dbcdcc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/application/?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3292,
            "text": "{\"count\":3,\"next\":null,\"previous\":null,\"results\":[{\"id\":\"6efda39c-58ac-4c56-b7ac-11268b5a7d2f\",\"versions\":[{\"id\":\"492f2a09-b0fc-402c-b185-70aa8c5e0137\",\"version_code\":\"1.1\",\"build_number\":\"4\",\"hash_string\":\"ECKrLpKxpSKf_q_Vo0lszmPXnVy5qXlPLJ_qRh4xcDE\",\"download_url\":\"[REDACTED]\",\"icon_url\":\"[REDACTED]\",\"min_sdk_version\":\"24\",\"target_sdk_version\":\"28\",\"release_name\":\"0\",\"release_comments\":null}],\"application_name\":\"Shoonya Oculus Supervisor Plugin\",\"package_name\":\"com.shoonyaos.oculus.plugin.supervisor.esperx86_64emulator\",\"developer\":null,\"category\":null,\"content_rating\":\"0.0\",\"compatibility\":null,\"created_on\":\"2022-05-12T04:08:05.554465Z\",\"updated_on\":\"2022-05-12T04:08:11.964644Z\",\"is_active\":true,\"is_hidden\":true,\"auto_update_app\":false,\"enterprise\":\"https://hdvpl-api.esper.cloud/api/enterprise/64b38341-bc15-49a2-aae7-e0c7b8ddb915/\"},{\"id\":\"53a72c66-6428-4e1e-af73-4e42e23dbd38\",\"versions\":[{\"id\":\"13b916af-a049-48d0-ba4a-a47132424af2\",\"version_code\":\"v7.4.8573\",\"build_number\":\"70048573\",\"hash_string\":\"5n5xiqFltF5AJfQDs85aHRcEcc6tpdqv7zxnJJqbMl8\",\"download_url\":\"[REDACTED]\",\"icon_url\":\"[REDACTED]\",\"min_sdk_version\":\"19\",\"target_sdk_version\":\"29\",\"release_name\":\"0\",\"release_comm[...]
